
.page-header {
  text-align: center;
  padding: 80px 20px 40px;
  background-color: #fff;
}

.page-header h1 {
  font-size: 2rem;
  color: #000;
  letter-spacing: 0.5px;
}

.page-header p {
  margin-top: 10px;
  color: #444;
  font-size: 1rem;
}


.ingredients {
  background-color: #f8f8f8;
  padding: 60px 20px;
}

.food-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

/* EACH ITEM */
.food-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease, box-shadow 0.3s ease;
  padding: 20px;
  gap: 30px;
}

.food-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}


.food-img {
  flex: 1;
}

.food-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}


.food-info {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.food-info h3 {
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
}

.food-info p {
  color: #333;
  font-size: 0.95rem;
  line-height: 1.6;
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
  border-left: 5px solid #e0a100;
}


@media (max-width: 850px) {
  .food-item {
    flex-direction: column;
    text-align: left;
  }

  .food-img img {
    height: 220px;
  }

  .food-info {
    width: 100%;
  }
}
